.pokeCard {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 4px;
  background-color: #ffd700;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  border: solid 2px #fdec8b;
}
